<%- include("partials/header") -%>
<h1>Home</h1>
<p><%= startingContant%></p>

<!-- Used for loop -->
<!-- <% for(var i = 0; i < blogLength; i++) { %>
    <h3><%= blogData[i].blogTitle %></h3>
    <p><%= blogData[i].blogPost %></p>
    <hr>
<% } %>  -->

<% blogData.forEach(function (data){ %>

<div class="col-lg-3 col-sm-6">
  <div class="blogrow">
    <h3 style="font-weight: 700"><%= data.title %></h3>
    <p class="blogTExt"><%= data.description.substring(0,200) + " ...." %></p>
    <a
      style="cursor: pointer; text-decoration: none"
      href="/posts/<%= data.id %>"
      >Read more..</a
    >
  </div>
</div>

<%});%>
